/* SECTION PRODUTOS */

.produtos, .filtro {
    background: rgb(51, 36, 95, 1);
    border-radius: 12px;
}


/* DIV PRODUTO */

.produtos-img-descricao {
    border-radius: 18px;
    background: #fff;
    font-size: small;
}

.produtos-img-descricao:hover{
    filter: brightness(85%);
}

.descricao {
    text-decoration: none;
    color: black;
}

.descricao:hover {
    color: #FF8F0C;
}


.comprar {
    transform: translateY(-50%);
    margin: 0 -5%;
    color: #fff;
    background: #FF8F0C;
    border-radius: 4px;
    font-size: large;
}



.btn-comprar {
    text-decoration: none;
    font-weight: bold;
}
/* DIV PRODUTO */




/* SECTION PRODUTOS */

/* Filtro */

.filtro {
    color: rgb(255, 255, 255);
}

.item-acordeao button{
    border-radius: 12px;
    display: flex;
    justify-content: end;
    align-items: center;
    background: transparent;
    border: none;
    color: #fff;
    width: 100%;
}

.item-acordeao button:hover {
    background: rgb(62, 44, 118);
}

.item-acordeao button div {
    width: 90%;
}

.item-acordeao button i {
    width: 10%;
}

/* SUB ITEM-FILTRO */

.list-checkbox {
    list-style: none;
    padding-left: 0;
}

.list-checkbox li {
    display: flex;
    justify-content: center;
}

.list-checkbox-texto {
    width: 90%;
}

.list-checkbox-input {
    width: 10%;
}

.list-checkbox-input input {
    border: none;
    color: red;
}
/* SUB ITEM-FILTRO */

/* Filtro */