{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="col-md-12 my-3">
        <h3 class="text-center">LOGIN</h3>
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <div class="row my-2 col-md-6">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="row my-2 col-md-6">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" name="senha">
                </div>
                <button type="submit" class="row btn btn-primary">Entar</button>
            </form>
            <h4>{{ status }}</h4>
        </div>
    </div>
</div>
{% endblock %}