{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<section>
    <div class="container-flex">
        <div class="row my-2">
            <h1 class="text-center">OFERTAS DO DIA</h1>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="filtro text-center py-3 px-3 mx-2">
                    <h3>Filtro</h3>
                    <hr>
                    <div class="item-acordeao" id="accordionFlux">
                        <button class="py-1 px-2" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                            aria-controls="collapseOne">
                            <div>
                                Marca
                            </div>
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                        <div id="collapseOne" class="collapse" data-bs-parent="#accordionFlux">
                            <ul class="list-checkbox">
                                <li>
                                    <div class="text-center list-checkbox-texto">
                                        Redragon
                                    </div>
                                    <div class="list-checkbox-input">
                                        <input type="checkbox" name="redgradon" id="">
                                    </div>
                                </li>
                                <li>
                                    <div class="text-center list-checkbox-texto">
                                        Razer
                                    </div>
                                    <div class="list-checkbox-input">
                                        <input type="checkbox" name="redgradon" id="">
                                    </div>
                                </li>
                                <li>
                                    <div class="text-center list-checkbox-texto">
                                        Logitec
                                    </div>
                                    <div class="list-checkbox-input">
                                        <input type="checkbox" name="redgradon" id="">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-controls="collapseThree">
                            <div>
                                Modelos
                            </div>
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                        <div id="collapseThree" class="collapse" data-bs-parent="#accordionFlux">
                            <ul class="list-checkbox">
                                <li>
                                    <div class="text-center list-checkbox-texto">
                                        Redragon
                                    </div>
                                    <div class="list-checkbox-input">
                                        <input type="checkbox" name="redgradon" id="">
                                    </div>
                                </li>
                                <li>
                                    <div class="text-center list-checkbox-texto">
                                        Razer
                                    </div>
                                    <div class="list-checkbox-input">
                                        <input type="checkbox" name="redgradon" id="">
                                    </div>
                                </li>
                                <li>
                                    <div class="text-center list-checkbox-texto">
                                        Logitec
                                    </div>
                                    <div class="list-checkbox-input">
                                        <input type="checkbox" name="redgradon" id="">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-controls="collapseFour">
                            <div>
                                Tamanho
                            </div>
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                        <div id="collapseFour" class="collapse" data-bs-parent="#accordionFlux">
                            <ul class="list-checkbox">
                                <li>
                                    <div class="text-center list-checkbox-texto">
                                        Redragon
                                    </div>
                                    <div class="list-checkbox-input">
                                        <input type="checkbox" name="redgradon" id="">
                                    </div>
                                </li>
                                <li>
                                    <div class="text-center list-checkbox-texto">
                                        Razer
                                    </div>
                                    <div class="list-checkbox-input">
                                        <input type="checkbox" name="redgradon" id="">
                                    </div>
                                </li>
                                <li>
                                    <div class="text-center list-checkbox-texto">
                                        Logitec
                                    </div>
                                    <div class="list-checkbox-input">
                                        <input type="checkbox" name="redgradon" id="">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-controls="collapseTwo">
                            <div>
                                Preço
                            </div>
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                        <div id="collapseTwo" class="collapse" data-bs-parent="#accordionFlux">
                            <ul class="list-checkbox">
                                <li>
                                    <div class="text-center list-checkbox-texto">
                                        Redragon
                                    </div>
                                    <div class="list-checkbox-input">
                                        <input type="checkbox" name="redgradon" id="">
                                    </div>
                                </li>
                                <li>
                                    <div class="text-center list-checkbox-texto">
                                        Razer
                                    </div>
                                    <div class="list-checkbox-input">
                                        <input type="checkbox" name="redgradon" id="">
                                    </div>
                                </li>
                                <li>
                                    <div class="text-center list-checkbox-texto">
                                        Logitec
                                    </div>
                                    <div class="list-checkbox-input">
                                        <input type="checkbox" name="redgradon" id="">
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-controls="collapseFive">
                            <div>
                                Categoria
                            </div>
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>
                        <div id="collapseFive" class="collapse" data-bs-parent="#accordionFlux">
                            <ul class="list-checkbox">
                                <li>
                                    <div class="text-center list-checkbox-texto">
                                        Redragon
                                    </div>
                                    <div class="list-checkbox-input">
                                        <input type="checkbox" name="redgradon" id="">
                                    </div>
                                </li>
                                <li>
                                    <div class="text-center list-checkbox-texto">
                                        Razer
                                    </div>
                                    <div class="list-checkbox-input">
                                        <input type="checkbox" name="redgradon" id="">
                                    </div>
                                </li>
                                <li>
                                    <div class="text-center list-checkbox-texto">
                                        Logitec
                                    </div>
                                    <div class="list-checkbox-input">
                                        <input type="checkbox" name="redgradon" id="">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="container produtos px-4 py-4 mb-5">
                    <div class="row">
                        <div class="col-md-3 produto">
                            <div class="mx-2 px-4 pb-2 mt-3 produtos-img-descricao">
                                <a href="#" class="btn-comprar">
                                    <div class="comprar py-1 text-center">
                                        R$ 199,99 | <i class="fa-solid fa-cart-shopping"></i>
                                    </div>

                                    <div class="row">
                                        <img class="w-90"
                                            src="{% static 'img/produtos/teclados/Teclado Mecânico Gamer HyperX Alloy MKW100, RGB, Switch Red, Full Size, US, Preto/img 1.jpg' %}"
                                            alt="">
                                    </div>
                                    <div class="row px-2 text-center descricao">
                                        Teclado Mecânico Gamer HyperX Alloy MKW100, RGB...
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 produto">
                            <div class="mx-2 px-4 pb-2 mt-3 produtos-img-descricao">
                                <a href="#" class="btn-comprar">
                                    <div class="comprar py-1 text-center">
                                        R$ 199,99 | <i class="fa-solid fa-cart-shopping"></i>
                                    </div>

                                    <div class="row">
                                        <img class="w-90"
                                            src="{% static 'img/produtos/teclados/Teclado Mecânico Gamer HyperX Alloy MKW100, RGB, Switch Red, Full Size, US, Preto/img 1.jpg' %}"
                                            alt="">
                                    </div>
                                    <div class="row px-2 text-center descricao">
                                        Teclado Mecânico Gamer HyperX Alloy MKW100, RGB...
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 produto">
                            <div class="mx-2 px-4 pb-2 mt-3 produtos-img-descricao">
                                <a href="#" class="btn-comprar">
                                    <div class="comprar py-1 text-center">
                                        R$ 199,99 | <i class="fa-solid fa-cart-shopping"></i>
                                    </div>

                                    <div class="row">
                                        <img class="w-90"
                                            src="{% static 'img/produtos/teclados/Teclado Mecânico Gamer HyperX Alloy MKW100, RGB, Switch Red, Full Size, US, Preto/img 1.jpg' %}"
                                            alt="">
                                    </div>
                                    <div class="row px-2 text-center descricao">
                                        Teclado Mecânico Gamer HyperX Alloy MKW100, RGB...
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 produto">
                            <div class="mx-2 px-4 pb-2 mt-3 produtos-img-descricao">
                                <a href="#" class="btn-comprar">
                                    <div class="comprar py-1 text-center">
                                        R$ 199,99 | <i class="fa-solid fa-cart-shopping"></i>
                                    </div>

                                    <div class="row">
                                        <img class="w-90"
                                            src="{% static 'img/produtos/teclados/Teclado Mecânico Gamer HyperX Alloy MKW100, RGB, Switch Red, Full Size, US, Preto/img 1.jpg' %}"
                                            alt="">
                                    </div>
                                    <div class="row px-2 text-center descricao">
                                        Teclado Mecânico Gamer HyperX Alloy MKW100, RGB...
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3 produto">
                            <div class="mx-2 px-4 pb-2 mt-3 produtos-img-descricao">
                                <a href="#" class="btn-comprar">
                                    <div class="comprar py-1 text-center">
                                        R$ 199,99 | <i class="fa-solid fa-cart-shopping"></i>
                                    </div>

                                    <div class="row">
                                        <img class="w-90"
                                            src="{% static 'img/produtos/teclados/Teclado Mecânico Gamer HyperX Alloy MKW100, RGB, Switch Red, Full Size, US, Preto/img 1.jpg' %}"
                                            alt="">
                                    </div>
                                    <div class="row px-2 text-center descricao">
                                        Teclado Mecânico Gamer HyperX Alloy MKW100, RGB...
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 produto">
                            <div class="mx-2 px-4 pb-2 mt-3 produtos-img-descricao">
                                <a href="#" class="btn-comprar">
                                    <div class="comprar py-1 text-center">
                                        R$ 199,99 | <i class="fa-solid fa-cart-shopping"></i>
                                    </div>

                                    <div class="row">
                                        <img class="w-90"
                                            src="{% static 'img/produtos/teclados/Teclado Mecânico Gamer HyperX Alloy MKW100, RGB, Switch Red, Full Size, US, Preto/img 1.jpg' %}"
                                            alt="">
                                    </div>
                                    <div class="row px-2 text-center descricao">
                                        Teclado Mecânico Gamer HyperX Alloy MKW100, RGB...
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 produto">
                            <div class="mx-2 px-4 pb-2 mt-3 produtos-img-descricao">
                                <a href="#" class="btn-comprar">
                                    <div class="comprar py-1 text-center">
                                        R$ 199,99 | <i class="fa-solid fa-cart-shopping"></i>
                                    </div>

                                    <div class="row">
                                        <img class="w-90"
                                            src="{% static 'img/produtos/teclados/Teclado Mecânico Gamer HyperX Alloy MKW100, RGB, Switch Red, Full Size, US, Preto/img 1.jpg' %}"
                                            alt="">
                                    </div>
                                    <div class="row px-2 text-center descricao">
                                        Teclado Mecânico Gamer HyperX Alloy MKW100, RGB...
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 produto">
                            <div class="mx-2 px-4 pb-2 mt-3 produtos-img-descricao">
                                <a href="#" class="btn-comprar">
                                    <div class="comprar py-1 text-center">
                                        R$ 199,99 | <i class="fa-solid fa-cart-shopping"></i>
                                    </div>

                                    <div class="row">
                                        <img class="w-90"
                                            src="{% static 'img/produtos/teclados/Teclado Mecânico Gamer HyperX Alloy MKW100, RGB, Switch Red, Full Size, US, Preto/img 1.jpg' %}"
                                            alt="">
                                    </div>
                                    <div class="row px-2 text-center descricao">
                                        Teclado Mecânico Gamer HyperX Alloy MKW100, RGB...
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3 produto">
                            <div class="mx-2 px-4 pb-2 mt-3 produtos-img-descricao">
                                <a href="#" class="btn-comprar">
                                    <div class="comprar py-1 text-center">
                                        R$ 199,99 | <i class="fa-solid fa-cart-shopping"></i>
                                    </div>

                                    <div class="row">
                                        <img class="w-90"
                                            src="{% static 'img/produtos/teclados/Teclado Mecânico Gamer HyperX Alloy MKW100, RGB, Switch Red, Full Size, US, Preto/img 1.jpg' %}"
                                            alt="">
                                    </div>
                                    <div class="row px-2 text-center descricao">
                                        Teclado Mecânico Gamer HyperX Alloy MKW100, RGB...
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 produto">
                            <div class="mx-2 px-4 pb-2 mt-3 produtos-img-descricao">
                                <a href="#" class="btn-comprar">
                                    <div class="comprar py-1 text-center">
                                        R$ 199,99 | <i class="fa-solid fa-cart-shopping"></i>
                                    </div>

                                    <div class="row">
                                        <img class="w-90"
                                            src="{% static 'img/produtos/teclados/Teclado Mecânico Gamer HyperX Alloy MKW100, RGB, Switch Red, Full Size, US, Preto/img 1.jpg' %}"
                                            alt="">
                                    </div>
                                    <div class="row px-2 text-center descricao">
                                        Teclado Mecânico Gamer HyperX Alloy MKW100, RGB...
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 produto">
                            <div class="mx-2 px-4 pb-2 mt-3 produtos-img-descricao">
                                <a href="#" class="btn-comprar">
                                    <div class="comprar py-1 text-center">
                                        R$ 199,99 | <i class="fa-solid fa-cart-shopping"></i>
                                    </div>

                                    <div class="row">
                                        <img class="w-90"
                                            src="{% static 'img/produtos/teclados/Teclado Mecânico Gamer HyperX Alloy MKW100, RGB, Switch Red, Full Size, US, Preto/img 1.jpg' %}"
                                            alt="">
                                    </div>
                                    <div class="row px-2 text-center descricao">
                                        Teclado Mecânico Gamer HyperX Alloy MKW100, RGB...
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 produto">
                            <div class="mx-2 px-4 pb-2 mt-3 produtos-img-descricao">
                                <a href="#" class="btn-comprar">
                                    <div class="comprar py-1 text-center">
                                        R$ 199,99 | <i class="fa-solid fa-cart-shopping"></i>
                                    </div>

                                    <div class="row">
                                        <img class="w-90"
                                            src="{% static 'img/produtos/teclados/Teclado Mecânico Gamer HyperX Alloy MKW100, RGB, Switch Red, Full Size, US, Preto/img 1.jpg' %}"
                                            alt="">
                                    </div>
                                    <div class="row px-2 text-center descricao">
                                        Teclado Mecânico Gamer HyperX Alloy MKW100, RGB...
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-3 produto">
                            <div class="mx-2 px-4 pb-2 mt-3 produtos-img-descricao">
                                <a href="#" class="btn-comprar">
                                    <div class="comprar py-1 text-center">
                                        R$ 199,99 | <i class="fa-solid fa-cart-shopping"></i>
                                    </div>

                                    <div class="row">
                                        <img class="w-90"
                                            src="{% static 'img/produtos/teclados/Teclado Mecânico Gamer HyperX Alloy MKW100, RGB, Switch Red, Full Size, US, Preto/img 1.jpg' %}"
                                            alt="">
                                    </div>
                                    <div class="row px-2 text-center descricao">
                                        Teclado Mecânico Gamer HyperX Alloy MKW100, RGB...
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 produto">
                            <div class="mx-2 px-4 pb-2 mt-3 produtos-img-descricao">
                                <a href="#" class="btn-comprar">
                                    <div class="comprar py-1 text-center">
                                        R$ 199,99 | <i class="fa-solid fa-cart-shopping"></i>
                                    </div>

                                    <div class="row">
                                        <img class="w-90"
                                            src="{% static 'img/produtos/teclados/Teclado Mecânico Gamer HyperX Alloy MKW100, RGB, Switch Red, Full Size, US, Preto/img 1.jpg' %}"
                                            alt="">
                                    </div>
                                    <div class="row px-2 text-center descricao">
                                        Teclado Mecânico Gamer HyperX Alloy MKW100, RGB...
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 produto">
                            <div class="mx-2 px-4 pb-2 mt-3 produtos-img-descricao">
                                <a href="#" class="btn-comprar">
                                    <div class="comprar py-1 text-center">
                                        R$ 199,99 | <i class="fa-solid fa-cart-shopping"></i>
                                    </div>

                                    <div class="row">
                                        <img class="w-90"
                                            src="{% static 'img/produtos/teclados/Teclado Mecânico Gamer HyperX Alloy MKW100, RGB, Switch Red, Full Size, US, Preto/img 1.jpg' %}"
                                            alt="">
                                    </div>
                                    <div class="row px-2 text-center descricao">
                                        Teclado Mecânico Gamer HyperX Alloy MKW100, RGB...
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 produto">
                            <div class="mx-2 px-4 pb-2 mt-3 produtos-img-descricao">
                                <a href="#" class="btn-comprar">
                                    <div class="comprar py-1 text-center">
                                        R$ 199,99 | <i class="fa-solid fa-cart-shopping"></i>
                                    </div>

                                    <div class="row">
                                        <img class="w-90"
                                            src="{% static 'img/produtos/teclados/Teclado Mecânico Gamer HyperX Alloy MKW100, RGB, Switch Red, Full Size, US, Preto/img 1.jpg' %}"
                                            alt="">
                                    </div>
                                    <div class="row px-2 text-center descricao">
                                        Teclado Mecânico Gamer HyperX Alloy MKW100, RGB...
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
{% endblock %}